p,
ul
{
    margin-bottom: 16px;
}

ul,
ol
{
    font-size: 18px;
    padding-left: 20px;
}

body
{
    padding: 20px 40px;
}

.container
{
    border: 1px dotted;
    padding: 20px;
}

.block_one
{
    height: 100px;
    border: 2px dashed blue;
    width: 300px;
}

.block_two
{
    height: 100px;
    border: 1px solid red;
}


.owl_photo
{
    float: left;
}

.photo_caption
{
    float: left;
    margin-left: 20px;
    width: 500px;
}

.about_owl
{
    margin: 50px 0;
}

.clear
{
    clear: both;
}
